/* CSS Document */

.loader_login {
    position: relative;
    left: 85px;
    top: -56px;
    display: none;
}

.loader_success {
    width: 180px;
    height: 200px;
    border: 1px solid #FFDBB5;
    margin-top: 10px;
}

.loader_featured {
    background-image: url(../images/loader_bg.jpg);
    height: 300px;
}

.loader_featured_new {
    padding-top: 200px;
}